[Unit]
Description=Adjust latency timers for PCI peripherals

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pci-latency

[Install]
WantedBy=multi-user.target
